@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

$font-name: 'Roboto';

/* Paleta de colores */
$bs-orange: #ff6815;
$bs-blue: #09c;
$bs-light-blue: #31b9dd;
$bs-dark-grey: #4e5865;
$bs-light-grey: #778495;

/* Colores primario y secundario */
$bs-primary: $bs-blue;
$bs-secondary: $bs-light-blue;

/* Colores de texto */
$text: $bs-dark-grey;

/* Tamaños de texto (equivalencia en px) */
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-19: 1.1875rem;
$font-20: 1.25rem;
$font-21: 1.3125rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-48: 3rem;
$font-60: 3.75rem;
$font-64: 4rem;
