:root {
  font-family: $font-name, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $text;
  font-size: $font-16;
}

#app {
  height: 100%;
}

main {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 16px;
  margin: 0 auto;

  .example {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .example-title {
      display: flex;
      justify-content: center;
      gap: 10px;

      h1 {
        color: $bs-orange;
        font-size: $font-40;
        font-weight: 300;
        line-height: 1.1;
        margin: 32px 0;
      }
    }

    .example-form {
      width: 500px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .textfield-wrapper {
        width: 100%;
      }
    }
  }

  .api-call {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
